<% include ../includes/header.html %>
<div class="media col-xs-offset-3">
    <%
        articles.forEach(function(article){%>
    <div class="media">
        <div class="media-left">
            <img src="<%=article.author.avatar%>" class="media-object" alt="">
        </div>
        <div class="media-body">
            <div class="media-heading">
                <a href="/articles/detail/<%=article._id%>"><%=article.title%></a>
            </div>
            <p><%=article.content%></p>
            <p>作者：<%=article.author.username%> | 发表时间：<%=article.createAt%></p>
        </div>
        <%})%>
    </div>
</div>
<% include ../includes/footer.html %>