<% include ../includes/header.html %>
<ul class="media-list col-xs-offset-3">
    <%
        articles.forEach(function(article){%>
    <li class="media">
        <div class="media-left">
            <a href="#">
                <img src="<%=article.author.avatar+'s=64'%>" class="media-object" alt="">
            </a>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <a href="/articles/detail/<%=article._id%>"><h4><%=article.title%></h4></a>
            </div>
            <p>作者：<%=article.author.username%> | 发表时间：<%=dateFormat(article.createAt)%></p>
            <hr>
            <p><%-markdownToHtml(article.content)%></p>
        </div>
    </li>
    <%})%>
</ul>
<% include ../includes/footer.html %>